@charset "UTF-8";

/* Aparelho em pé (portrait)*/

body {
    background: url(../mq02/imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}